.hio{
    font-size: larger;
}
.indexs {
    margin:0  auto;
    width: 60%;
}
.hello{
    margin: 0 auto;
    width: 60%;
}
.hi{
    margin: 0 auto;
    width: 60%;
}
.heo{
    width: 90%;
}
.back{
    background-color: rgb(255, 145, 0);
    padding: 15px;
    width: 150px;
    font-size: large;
}